:root {
    --white: white;
    --light-blue: #8ecae6;
    --blue: #219ebc;
    --dark-blue: #023047;
    --orange: #ffb703;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    background: linear-gradient(var(--light-blue), var(--dark-blue));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title {  
    width: 400px;
    margin: 20px auto;
    padding: 23px;  
    text-align: center;  
    background-color: var(--blue);  
    color: var(--white);  
    border-radius: 10px;
}  
  
#main-form {  
    width: 290px; 
    margin: auto;  
    border: 3px solid  var(--light-blue);  
    border-radius: 10px;  
    padding: 20px;
    background-color: var(--orange)
} 

input {  
    width: 59px;  
    background-color: var(--blue);  
    color: var(--dark-blue);  
    border: 2px solid var(--light-blue);  
    border-radius: 10px;  
    padding: 25px;  
    margin: 5px;
    font-size: 20px;  
    font-weight: bold;
}  

#calc {  
    width: 250px;  
    border: 2px solid var(--light-blue);  
    border-radius: 10px;  
    padding: 20px;  
    margin: auto;  
    background-color: var(--white);
} 

#calc:focus {
    outline: none;
}

#CE{  
    width: 290px;  
    border: 3px solid var(--light-blue);  
    border-radius: 10px;  
    padding: 20px;
    margin: 0 auto;  
    background-color:  var(--blue);  
}  

